<div class="row">
    <div class="col-3">
        <form #userform="ngForm" (submit)="updatepassword()" class="">
            <p class="fw-bold">Your old password</p>
            <div class="pass">
                <input #oldpassword #oldpass="ngModel" [(ngModel)]="userpassword.password" required type="password" class="form-control mb-3" name="oldpass">
                <i class="fas fa-eye" (click)="changetypeoldpass()"></i>
            </div>
            <p class="text-danger" *ngIf="oldpass?.errors?.required&& oldpass?.touched">Bạn chưa nhập mật khẩu</p>
            <p class="fw-bold">New password</p>
            <div class="pass">
                <input #newpassword #newpass="ngModel" [(ngModel)]="userpassword.new_password" required type="password" class="form-control mb-3" name="newpass">
                <i class="fas fa-eye" (click)="changetypenewpass()"></i>
            </div>
            <p class="text-danger" *ngIf="newpass?.errors?.required && newpass?.touched">Bạn chưa nhập mật khẩu</p>
            <p class="fw-bold">Confirm new password</p>
            <div class="pass">
                <input #confirmnewpassword #confirmpass="ngModel" [(ngModel)]="userpassword.confirm_password" required type="password" class="form-control mb-3" name="confirm_password">
                <i class="fas fa-eye" (click)="changetypeconfirm()"></i>
            </div>
            <p class="text-danger" *ngIf="confirmpass?.errors?.required && confirmpass?.touched">Bạn chưa nhập mật khẩu</p>
            <input type="submit" class="btn btn-warning text-white" value="Submit">
        </form>
    </div>
</div>