#bg {
    color: #192038;
    background-color: gainsboro;
    padding: 30px;
    line-height: 19px;
}

#front {
    width: 15px;
    height: 15px;
    margin-left: 50px;
}

#left {
    width: 60%;
}

#right {
    width: 40%;
}

.height {
    height: 50px;
}

.gray {
    color: #666;
}

textarea {
    border-color: gainsboro;
    padding: 10px;
    font-size: 14px;
}

#back {
    border: 1px solid #ed8d15;
    width: 180px;
    color: #ed8d15;
}

#back:hover {
    background-color: #ed8d15;
    color: white;
}

#uploadfile {
    border-radius: 5px;
    height: 120px;
    border: 1px solid gainsboro;
}

.borderleft {
    border-left: 4px solid #ed8d15;
}

#collapse-one[aria-expanded=true] .fa-chevron-up {
    display: none;
}

#collapse-one[aria-expanded=false] .fa-chevron-down {
    display: none;
}

#collapse-two[aria-expanded=true] .fa-chevron-up {
    display: none;
}

#collapse-two[aria-expanded=false] .fa-chevron-down {
    display: none;
}

#collapse-three[aria-expanded=true] .fa-chevron-up {
    display: none;
}

#collapse-three[aria-expanded=false] .fa-chevron-down {
    display: none;
}


/* src/app/app.component.css */

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 150px;
}


/* 
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: orange;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */