<div id="bg">
    <p>
        <span class="me-5 fw-bold" style="font-size: 23px;">PRODUCT FEED</span>
        <button routerLink="/home/campaign/productfeed/new" style="float: right;" type="button" class="btn btn-warning text-white">ADD PRODUCT FEED</button>

    </p>
    <div class="bg-white p-5 mt-5">
        <p class="d-flex justify-content-between">
            <span>Name</span>
            <span>
            Total product
        </span>
            <span>
            Last refreshed date
        </span>
            <span>
            Product feed URL
        </span>
            <span>
            Status
        </span>
            <span>Type</span>
            <span>Action</span>
        </p>
        <div style="height: 200px;border:1px solid gainsboro">

        </div>
    </div>
</div>