<div id="bg">
    <div class="padd">
        <h4 class="">CHOOSE YOUR DESIGN</h4>
        <p id="head">
            <span>
        Select products for your campaign. You can choose up to
    </span>
            <strong>25</strong>
            <span class="ms-2">products per campaign</span>
        </p>
    </div>


    <!-- Header -->
    <div id="row1" class="padd">
        <div class="col" *ngFor="let Typeproduct of Typeproducts" [ngStyle]="{'background-color': Typeproduct.actived?'orange':'white','color':Typeproduct.actived?'white':'black','margin-right':Typeproduct.TYPE==6?'0px':'10px'}" (click)="findtypeProduct(Typeproduct.TYPE)">
            <p>{{Typeproduct.catalog_name}}</p>
            <p [ngStyle]="{'color':Typeproduct.actived?'white':'gray'}">
                ({{Typeproduct.total}})
            </p>
        </div>
    </div>

    <div class="d-flex mt-4 justify-content-between padd">

        <div class="btn-group" style="width: 10%;">
            <button type="button" class="btn bg-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Normal
    </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item">Normal</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item">Personalized</a></li>
            </ul>
        </div>
        <form #form="ngForm" class="input-group" style="width: 88%;float: right;height: 48px;">
            <input name="search" [(ngModel)]="namefind.name" (keyup)="searchfindProduct()" type="text" class="form-control p-2" placeholder="Search your product" aria-label="Input group example" aria-describedby="btnGroupAddon">
            <div class="input-group-text btn btn-warning p-2" id="btnGroupAddon">
                <i style="color: white;" class="fa fa-search" aria-hidden="true"></i>
            </div>
        </form>
    </div>

    <div>
        <div class="mt-4">
            <ng-container *ngIf="typeclick!=0">
                <h4 class="border-start border-warning border-4 ps-2" style="margin-left: 30px;">
                    {{Name}}
                </h4>
                <div class="">
                    <div id="rowdiv1" class="row m-0" style="padding: 18px;">
                        <div class="col-md-3" *ngFor="let card of listcards">
                            <div id="row2" style="padding: 5px;position: relative;" class="card hover">

                                <img src={{card.mockup_image_url}} class="card-img-top" alt="...">
                                <span id="logoP">P</span>
                                <div class="card-body">
                                    <h5 class="card-title">{{card.name}}</h5>
                                    <p class="card-text">
                                        <span style="color: gray;">Base cost:</span>
                                        <span class="text-danger fw-bold">
                            <span class="me-1 ms-1">$</span>
                                        <span>{{card.base_cost}}</span>
                                        </span>
                                    </p>
                                    <p style="color: gray;">
                                        <span>Processing Time:</span>
                                        <span>4-6 days</span>
                                    </p>

                                    <div class="d-flex justify-content-between">
                                        <a style="font-size: 12px;width: 48%;padding: 7px;" routerLink="/platform/campaign/create" class="btn border-secondary hoverbtn">ADD PRODUCT</a>

                                        <a id="hover-a" style="font-size: 12px;color: white;width: 48%;padding: 7px;" class="btn btn-lg hoverbtn" (click)="openScrollableContent(content)">VIEW PRODUCT</a>
                                    </div>
                                    <ng-template style="width: 480px;" #content let-modal>
                                        <div style="padding-left: 30px;padding-right: 30px;" class="modal-header" style="border-bottom: none;justify-content: end;">

                                            <button style="border: none;background-color: white;" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span style="width: 10px;" aria-hidden="true">&times;</span>
                                  </button>
                                        </div>
                                        <div class="modal-body" style="padding-left: 30px;padding-right: 30px;">
                                            <p style="text-align: center;">
                                                <img style="width: 235px;height: 280px;" src={{card.mockup_image_url}} class="card-img-top" alt="...">
                                            </p>

                                            <p [innerHTML]="card.html_desc"></p>

                                        </div>
                                        <div class="modal-footer" style="padding-left: 30px;padding-right: 30px;">
                                            <button style="width: 100%;font-size: 18px;background-color: #fd7e14;" type="button" class="btn text-white" routerLink="/platform/campaign/create" (click)="modal.close('Save click')">ADD PRODUCT</button>
                                        </div>
                                    </ng-template>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-container>

            <ng-container *ngIf="typeclick==0">
                <div *ngFor="let list of groupcards">
                    <h4 *ngIf="list[0]!=null&&list[0]!=undefined" class="border-start border-warning border-4 ps-2" style="margin-left: 30px;">{{list[0].catalog_name}}</h4>

                    <div id="rowdiv2" class="row m-0" style="padding: 18px;">
                        <div class="col-md-3" *ngFor="let card of list">
                            <div id="row3" style="padding: 5px;position: relative;" class="card hover">
                                <img src={{card.mockup_image_url}} class="card-img-top" alt="...">
                                <span id="logoP">P</span>
                                <div class="card-body">
                                    <h5 class="card-title">{{card.name}}</h5>
                                    <p class="card-text">
                                        <span style="color: gray;">Base cost:</span>
                                        <span class="text-danger fw-bold">
                                    <span class="me-1 ms-1">$</span>
                                        <span>{{ card.base_cost}}</span>
                                        </span>
                                    </p>
                                    <p style="color: gray;">
                                        <span>Processing Time:</span>
                                        <span>4-6 days</span>
                                    </p>

                                    <div class="d-flex justify-content-between">
                                        <a routerLink="/platform/campaign/create" style="font-size: 12px;width: 48%;padding: 7px;" class="btn hoverbtn border border-secondary">ADD PRODUCT</a>
                                        <a style="font-size: 12px;width: 48%;padding: 7px; color: white;" class="btn btn-lg hoverbtn hovera" (click)="openScrollableContent(content)">VIEW PRODUCT</a>
                                    </div>
                                    <ng-template style="width: 480px;" #content let-modal>
                                        <div style="padding-left: 30px;padding-right: 30px;" class="modal-header" style="border-bottom: none;justify-content: end;">

                                            <button style="border: none;background-color: white;" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span style="width: 10px;" aria-hidden="true">&times;</span>
                                              </button>
                                        </div>
                                        <div class="modal-body" style="padding-left: 30px;padding-right: 30px;">
                                            <p style="text-align: center;">
                                                <img style="width: 235px;height: 280px;" src={{card.mockup_image_url}} class="card-img-top" alt="...">
                                            </p>

                                            <p [innerHTML]="card.html_desc"></p>

                                        </div>
                                        <div class="modal-footer" style="padding-left: 30px;padding-right: 30px;">
                                            <button style="width: 100%;font-size: 18px;background-color: #fd7e14;" type="button" class="btn text-white" routerLink="/platform/campaign/create" (click)="modal.close('Save click')">ADD PRODUCT</button>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </ng-container>
        </div>
    </div>
</div>